body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    margin: 0;
}
.calculator {
    width: 250px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.display {
    width: 225px;
    height: 70px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: right;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button {
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
}
  button:hover {
    background: #ddd;
}
  button.operation {
    background: rgb(250, 155, 199);
    color: #fff;
}
button.equals {
    background: rgb(250, 153, 247);
    color: #fff;
}
button.zero {
    grid-column: span 2;
}
button.numeric {
    background: rgb(141, 125, 125); 
}